<div class="row">
  <div *ngFor="let user of users" class="col-md-6 col-xl-3">
    <div class="card m-b-30">
      <div class="card-body row">
        <div class="col-6">
<!--          <a href=""><img src="{{user?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>-->
        </div>
        <div class="col-6 card-title align-self-center mb-0">
          <h5>{{user.username}}</h5>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Username : {{user.username}}</li>
        <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : {{user.email}}</li>
        <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Roles : <span *ngFor="let role of user.roles">{{role.name}}, </span></li>
      </ul>
      <div class="card-body">
        <div class="float-right btn-group btn-group-sm">
<!--          <a (click)="onOpenModal(user, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>-->
<!--          <a (click)="onOpenModal(user, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>-->
        </div>
      </div>
    </div>
  </div>
</div>
