<div *ngIf="isLoggedIn; else loggedOut">
  <h5 class="text-primary">Information</h5>
  <p>
    <strong>Username:</strong> {{username}}<br/>
    <strong>Roles:</strong> {{roles}}<br/>
    <strong>Token:</strong> {{token}}
  </p>
</div>

<ng-template #loggedOut>
  <div class="row col-sm-6" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" [(ngModel)]="form.username" #username="ngModel"
               required />
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.hasError('required')">Username obligatoire</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="form.password" #password="ngModel"
               required minlength="6" />
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.hasError('required')">Mot de passe obligatoire</div>
          <div *ngIf="password.hasError('minlength')">Le mot de passe doit contenir 6 caractères au minimum</div>
        </div>
      </div>
      <hr/>
      <div class="form-group">
        <button class="btn btn-primary">Se connecter</button>
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          Echec de la connection !
        </div>
      </div>
    </form>

  </div>
</ng-template>

